{% extends 'base.html' %}
{% block title %}about{% endblock %}

{% block content %}
<h1>Информация о компании</h1>
<div class="info">
    Наша компания - это прежде всего люди, помогающие избавиться Вам от груза прошлого. Нашими преимуществами являются:
    <ul>
        <li>Команда опытных специалистов -> проследим, чтобы вы не стали жертвой пространственно-временной аномалии.</li>
        <li>Гарантия результата -> если же он вас не удовлетворит, вы всегда можете обратиться к нам снова,
            чтобы отговорить себя из прошлого от пользования нашими услугами.</li>
        <li>Оплата после выполнения услуг -> помните, что в случае неоплаты мы можем вернуться в прошлое и не принять вас.</li>
        <li>Максимальная безопасность -> даже если вы погибните, мы просто перенесемся к началу миссии, чтобы попытаться снова.</li>
    </ul>
    <div>
        Таким образом миссией компании является сделать путешествия в прошлое доступными для всех.
    </div>
    Экипаж каждого путешествия включает в себя:
    <ul>
        {% for i in staff %}
            <li>{{ i["Должность"] }} - {{ i["Обязанности"] }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}