{% extends 'base.html' %}
{% block title %}home{% endblock %}

{% block content %}
<h1>Добро пожаловать на сайт путешествий во времени!</h1>
<div class="items">
    <div class="item">
        <img src="{{ url_for('static', filename='/2.png') }}"  alt="Фото" width=100% height=100%>
    </div>
    <div class="item">
        <ul>
            <li>Часто жалеете о неправильном выборе?</li>
            <li>Придумали остроумный ответ на шутку в разговоре пятилетней давности?</li>
            <li>Забыли вовремя запустить стиральную машину и вам теперь не в чем идти на работу?</li>
        </ul>
     <div>НЕ БЕДА! С помощью наших услуг все ваши проблемы будут стерты. На счету нашей компании
        множество успешных изменений прошлого. Работаем с разной степенью сложности, от банального "постирал джинсы,
        а в них была 1000 рублей" до невозможного "избежать знакомства с женой".</div>
    </div>
</div>
  <div>Сегодня: {{ weekday }}, {{ month }}, {{ now.strftime('%m, %Y, %H:%M:%S')  }}</div>
{% endblock %}