<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="color:red" align="center">Официальный сайт освободителей марса</h1>
    <p align="center">Любишь пустоши? На земле тебе слишком тесно? Надоели приезды родственников?
        Заполни анкету и попробуй себя в роли колонизатора Марса!</p>
    <a href="/about">Заполнить анкету</a>
    <br>
    <a href="/contact">Контакты</a>

    <img src="{{ url_for('static', filename='1.jpg') }}" hspace="5" width="200" height="100" align="right" >
</body>
</html>